.brand {
	color: #CCDDCC;
}

h3 {
	color: #FF2255;
}

#mail {
	color: #FF2255;
}

a.anchor{
	color: #CCDDCC;
	text-decoration: none;
}

#id {
 width : 800px;
 height: 400px;
}

.clear {
	clear: both;
}

.clearNav {
	padding-top: 85px;
	margin-top: -85px;
}

.socialHolder {
	text-align: center;
}

.navbar-inverse .navbar-inner {
	background-color: #444444;
    background-image: -webkit-linear-gradient(#444444, #433333);
    background-image: -moz-linear-gradient(top,#444444,#433333);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#444444),to(#433333));
    background-image: -webkit-linear-gradient(top,#444444,#433333);
    background-image: -o-linear-gradient(top,#444444,#433333);
    background-image: linear-gradient(to bottom,#444444,#433333);
    background-repeat: repeat-x;
    border-color: #252525;
}

@media (min-width: 1200px)
.row-fluid .span9 {
    width: 100%;
}

.row-fluid .span9 {
    width: 100%;
}

#grad {
	opacity: 1;
}

#about {

	background-color: #D9D9D9;
    color: black;
	height: 600px;
	margin: 0;
	padding: 200px 0 260px 0;
	width: 100%;
	background-size: cover;
	opacity: 0.9;
}

#education {
	background-color: #a1a1a1;
	width: 100%;
	color: black;
	height: 600px;
	margin: 0;
	padding: 200px 0 260px 0;
	background-size: cover;
	opacity: 0.9;
}

#skills {
	background-color: #ffffff;
	width: 100%;
	color: black;
	height: 600px;
	margin: 0;
	padding: 200px 0 260px 0;
	background-size: cover;
}

#experience {
	background-color: #a1a1a1;
	width: 100%;
	color: black;
	height: 600px;
	margin: 0;
	padding: 200px 0 260px 0;
	background-size: cover;
	opacity: 0.9;
}

#projects {
	background-color: #D9D9D9;
	width: 100%;
	color: black;
	height: 600px;
	margin: 0;
	padding: 200px 0 260px 0;
	background-size: cover;
	opacity: 0.9;
}

#contact {
	background-color: #ffffff;
	width: 100%;
	color: black;
	height: 600px;
	margin: 0;
	padding: 200px 0 260px 0;
	background-size: cover;
}

.info {
	padding-left: 20px;
}

.project {
	margin: 20px 20px 20px 20px;
	padding: 10px 10px 10px 10px;
	display: inline-block;;
	width: 400px;
	height: 190px;
	color: #559999;
	text-align: center;
	font-size: 20px;
	box-sizing: border-box;
}

.social:hover {
	opacity: 0.5;
}

.shopping {
	background-image: url("../img/shopping.png");
	background-repeat: repeat-x;
	box-shadow: #fff;
}

.hotorcold {
	background-image: url("../img/hotorcold.png");
	background-repeat: repeat-x;
	box-shadow: #fff;
}

.apihack {
	background-image: url("../img/apihack.png");
	background-repeat: repeat-x;
	box-shadow: #fff;
}

.quiz {
	background-image: url("../img/quiz.png");
	background-repeat: repeat-x;
	box-shadow: #fff;
}

/*Overriding date time icon style*/
.cntl-icon {
	font-size: 10px;
}